.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;
  gap: 5rem;
  color: #4d3f32; 
  font-family: 'Merriweather', serif; 
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  flex-shrink: 0;
}

.topBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.teamBox {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid;
  color: #000;
  font-weight: bold;
  text-align: center;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.statusInfo strong {
  color: #5c4936;
}

.teamText {
  color: #222121;
}