.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: 90vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;
  gap: 3rem;
  color: #4d3f32;
  font-family: "Merriweather", serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  flex-shrink: 0;
}

.topBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.teamBox {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid;
  color: #000;
  font-weight: bold;
  text-align: center;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.statusInfo strong {
  color: #5c4936;
}

.teamText {
  color: #222121;
}

.teamBox {
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, padding 0.3s ease;
}

.currentTeamBox {
  transform: scale(1.3);
  padding: 14px; /* ligeramente más grande */
  z-index: 1;
}
