.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #f9f5f2;
}

.optionsCard {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f5f2;
}

.optionsTitle {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}

.modeDisplay {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.25rem;
}

.teamSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.colorBox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.teamButtons,
.orderButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.startButton {
  margin-top: 1.5rem;
  width: 100%;
  font-weight: bold;
  background-color: #5c8374;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #46695b;
}

.gameMode{
  margin-bottom: 1em;
}