.teamGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 1rem; /* espacio entre celdas */
}

.teamSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  }

.teamInput {
  flex: 5;
}

.colorSelectControl {
  flex: 1;
}

.colorBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
